* {
    font-family: 'Prompt', sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #ffffff00; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #ffffff00; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #ffffff00; 
  }

ul{
    list-style-type: "- ";
    font-weight: 300;
    font-style: italic;
  }
ul li::before {
    font-weight: bold;
}

body {
    background: #ecf0f1;
    padding: 20px;
}

.sidenav {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 20px;
    
    background: linear-gradient(0deg, rgba(57,100,190,1) 0%, rgba(0,142,255,1) 100%);
    box-shadow: inset -14px 1px 13px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.sidenav .avatar {
    padding: 15px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}
  
.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 19px;
    color: white;
    display: block;
    text-transform: uppercase;
    font-weight: bold;
    padding: 15px;
    text-align: center;
    background-color: #1B9CFC;
    cursor: initial;
}


.header {
    margin-right: 5%;
    text-align: right;
}

.title {
    color: #111;   
    text-transform: uppercase;
    position:relative;
    display:inline-block;
    text-align: center;
}

.title::after {
    content:'';
    position:absolute;
    right:0;
    top:100%;
    margin: 10px auto;
    width:50%;
    height:6px;
    background:#eb2f06;
}

.container{
    margin-left: 15%;
    margin-right: 25%;
    margin-top: -12%;
    z-index: 2;
    width: 85%;
    padding: 15px;
}

.titleFormation {
    text-transform: uppercase;
    position:relative;
    display:inline-block;
}

.titleFormation::after {
    content:'';
    position:absolute;
    left:0;
    top:100%;
    margin: 10px auto;
    width:50%;
    height:6px;
    background:#eb2f06;
}

.titleExperience {
    text-transform: uppercase;
    position:relative;
    display:inline-block;
}

.titleExperience::after {
    content:'';
    position:absolute;
    left:0;
    top:100%;
    margin: 10px auto;
    width:50%;
    height:6px;
    background:#eb2f06;
}

.titleElement {
    text-transform: uppercase;
    font-weight: 400;
    font-style: italic;
}

.element {
    padding: 20px;
    display: grid;
    grid-template-columns: auto 30%;
}
.element:hover{
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    transition: all .3s;
}

.competence {
    padding: 20px;
    display: grid;
}

.item1 {
    align-self: center;
    justify-self: center;
    margin-bottom: 8px;
}
.item2 {
    align-self: center;
    justify-self: center;
    margin-bottom: 8px;
}
.item3 {
    align-self: center;
    justify-self: center;
    margin-bottom: 8px;
}
.item4 {
    align-self: center;
    justify-self: center;
}

.titleLogiciel {
    margin-right: 10px;
    color:white;
    background-color: #111;
}

.nameLastName {
    color: white;
    /* margin-left: 25px; */
    text-align: center;
}

.columnFormation {
    margin-top: 50px;
}

@media (max-device-width : 1052px) {

    .imgProject {
        width: 30%;
    }

    .sidenav {
        display: none;
    }
    .container {
        margin: 10px;
    }
    .competence {
        padding: 5px;
        display: box;
    }
    .element {
        padding: 20px;
        display: grid;
        grid-template-columns: auto;
    }
    .header {
        padding: 20px;
    display: grid;
    }
    .title {
        color: #111;   
        text-transform: uppercase;
        position:relative;
        display:grid;
        grid-template-columns: auto;

    }
    .titleFormation {
        text-transform: uppercase;
        position:relative;
        display:grid;
        grid-template-columns: auto;
    }

    .elementFormation {
        text-transform: uppercase;
        position:relative;
        display:grid;
        grid-template-columns: auto;
    }

   
}

@media (max-device-width : 1052px) {
    .sidenav {
        display: none;
    }
}
  